@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Variables de color base */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 253, 252, 247; /* Fondo ivory */
  --highlight-color: 96, 198, 180; /* Color teal */
  --text-gray: 60, 60, 60;
}

/* Estilo básico */
body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb)); /* Fondo ivory */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Contenedor principal */
#__next {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Ocupación del espacio disponible */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Sombra superior del footer */
.shadow-footer-top {
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

/* Footer pegado al fondo */
footer {
  margin-top: auto;
}

/* Estilo para enlaces */
a {
  color: rgb(var(--highlight-color));
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  text-decoration: underline;
}

/* Textos secundarios */
.text-gray-600 {
  color: rgb(var(--text-gray));
}

/* Centrado en el enunciado */
footer h2 {
  text-align: center;
}

/* Ajuste para la disposición en móviles */
@media (max-width: 768px) {
  footer .flex-col {
    align-items: flex-start;
    text-align: left;
  }

  footer .md\:w-1\/3 {
    width: 100%;
    text-align: center; /* Centramos los encabezados */
  }

  footer .md\:w-1\/3 .flex.items-center {
    justify-content: center; /* Asegura que los íconos de contacto estén centrados en móviles */
  }

  footer .flex.items-center img {
    margin-right: 0.5rem;
  }

  footer .flex.justify-center a img {
    transition: transform 0.2s ease-in-out;
  }

  footer .flex.justify-center a:hover img {
    transform: scale(1.1);
  }
}
