@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0; /* Texto en color negro */
  --background-start-rgb: 255, 255, 255; /* Fondo blanco */
  --background-end-rgb: 255, 255, 255; /* Fondo blanco */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb)); /* Fondo blanco sin gradientes */
}

/* Asegúrate de que otros estilos no interfieran con el esquema de colores */
.text-balance {
  text-wrap: balance;
}
